@model PerformTaskBindingModel

<h1>
    Are you sure you want to mark the task as completed?
</h1>
<div class="col-lg-4">
    <form asp-action="PerformTask">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input hidden asp-for="Id" class="form-control" />
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>


